@import url(//db.onlinewebfonts.com/c/2206d6cc490084998d531e8c1b2cbb4a?family=Druk+Wide+Bold);

@font-face {
    font-family: "Druk Wide Bold"; src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot"); src: url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff") format("woff"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold") format("svg"); 
}
body {
    font-family: "Druk Wide Bold";
    background-color: #000000;
}

/* Header Group */
.header {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
}
ul {
    display: flex;
}
li {
    list-style-type: none;
    margin-right: 30px;
}
li:hover {
    color: rgb(12, 198, 2);
    cursor: pointer;
}
/* End Header Group */

/* Main Box Group */
.main-box {
    color: white;
    font-size: 150px;
    margin-top: 70px;
    padding-left: 30px;
    padding-top: -30px;
    float: left;
}
img {
    width: 400px;
    padding-left: 130px;
    margin-top: 30px;
    animation: anim-green-goblin ease-in-out 5s infinite;
}
/* @keyframes anim-green-goblin {
    0%{margin-top: 30px;}
    25%{margin-top: 50px;}
    50%{margin-top: 30px;}
    75%{margin-top: 50px;}
    100%{margin-top: 30px;}
} */

/* End Main Box */
/* Section */

section {
    margin-top: 50px;
}

.header-section {
    color: rgb(255, 255, 255);
    font-size: 58px;
}
.store {
    display: flex;
    justify-content: end;
}
